
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

body {
    background-color: #609bca47;

}

/* Default styles for larger screens */
.container {
    height: 300px;
    margin: 80px;
    display: flex;
    flex-direction: column;
    background-color: #d4ddc9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heading {
    font-size: 28px;
    margin-bottom: 10px;
  color: #692cc5; 
}

.para {
    margin: 10px;
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
    .container {

        margin: 40px;
    }

    #heading {
        font-size: 24px;
    }

    .para {
        margin: 5px;
    }
}

/* Media query for screens up to 480px */
@media (max-width: 480px) {
    .container {
       
        margin: 20px;
    }

    #heading {
        font-size: 20px;
    }

    .para {
        font-size: 14px;
    }
}


/* container part css is done */

/* box part css styling is started from here */

.box{
     position: relative;
     /* width: 400px;  */
     padding: 22px 0px;
    display: flex;
    /* border:2px solid rgb(205, 38, 38); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(42, 40, 43);
    margin:  auto ;
    border-radius: 5px;
    margin-bottom: 50px;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(155, 79, 79, 0.2), 0 6px 20px 0 rgba(184, 82, 82, 0.19);
}
.rating{
    width: 340px;
    /* border: 2px solid green; */
    padding: 5px 5px;
    
}
#heading_h3{
    display: flex;
    color: #fd4;
   /* border: 2px solid red; */
   
    justify-content: center;
}
h3{
    margin: auto;
}
.box .rating input{
    display: none;
}

.rating label {
        font-size: 39px;
        color: #444;
        float: right;
        padding: 10px;
        transform: all 0.2s ease;
}

 input:not(:checked) ~ label:hover , input:not(:checked) ~ label:hover ~label {
    color:#fd4;
    transition: all 0.2s ease;
    text-shadow: 0 0 20px #952;
}
input:checked ~label{
    color:#fd4;
    text-shadow: 0 0 20px #952;
}
form header{
    width: 100;
    /* border: 2px solid blueviolet; */
    font-size: 20px;
    color: #fd4;
    margin:auto;
}
.textarea textarea {
    width: 100%;
    height: 100px;
    margin: 12px 0px;
    color: aliceblue;
    overflow: hidden;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #444;
    resize:none;
}
.btn button{
    width: 100%;
    border-radius: 5px;
    background-color: #444;
    padding: 5px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    letter-spacing: 1px;
     cursor: pointer;
}

.btn button:hover{
    background-color: rgb(20, 26, 30);
    color:#fd4;
    transition: all 0.2s ease;
}

#rate-1:checked ~ form header:before{
    content: " I just hate it 🤨";

}
#rate-2:checked ~ form header:before{
    content: " I don't like it 😒 ";
 
}
#rate-3:checked ~ form header:before{
    content: "It was awsome 🥰";
}
#rate-4:checked ~ form header:before{
    content: " I just like it ❤️";
}
#rate-5:checked ~ form header:before{
    content: " I just love it 😘";
}
.box form{
    display:none;
}
.box input:checked~form{
    display: block;
}

.box #text{
    font-size: 25px;
    color: #fd4;
    font-weight: 500;
    /* margin-top: -22px;
    margin-bottom: 7px; */
}

.box #edit{
    font-size: 16px;
    color:#fd4;
    /* background-color: #444; */
    font-weight: 500;
    position: absolute;
    top:5px;
    right:8px;
}
.post button{
    background-color: #444;
    padding: 4px;
    border-radius: 7px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px;
}
.post button:hover{
    background-color: rgb(20, 26, 30);
    color:#fd4;
    transition: all 0.2s ease;
}
.post{
    display: none;
}

@media  (max-width: 400px){
    form{
        width:200px;
        justify-content: center;
       margin:auto;
    }
}
    



